[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Exec=/home/ptimme01/appimage/balenaEtcher-1.18.11-x64.AppImage
Name=BalenaEtcher
Icon=/home/ptimme01/Pictures/icons/etcher-icon.png

